# Conditionals, List, and Functions Exercise

In [1]:
import numpy as np
import pandas as pd
from checker_2 import check

score = {}

for i in range(1, 21):
    score[f"{i}"] = 0

def check_score(score):
    total_sum = 0
    for i in range(1, 21):
        total_sum = total_sum + score[f"{i}"]
    return f"You Total Score is {total_sum}"

##### Question 1

In [2]:
num = 1
"""
What is the value of the result?

x = 10
y = 5
if x > y == True:
    result = "Yes"
else:
    result = "No"
"""

answer = ""
check(num, answer, score)

'Wrong, Try again'

##### Question 2

In [3]:
num = 2
"""
What is the output?

if None or 0 or []:
    print("True")
else:
    print("False")
"""

answer = ""
check(num, answer, score)

'Wrong, Try again'

##### Question 3

In [4]:
num = 3
"""
What is the value of z?

x = True
y = False
z = x or y and not x
"""

answer = None
check(num, answer, score)

'Wrong, Try again'

##### Question 4

In [5]:
num = 4
"""
What is the output of this conditional statement?

print(1 < 2 < 3 == True)
"""

answer = None
check(num, answer, score)

'Wrong, Try again'

##### Question 5

In [6]:
num = 5
"""
What is the output? 

x = 1
y = True
print(x == y)
"""

answer = None
check(num, answer, score)

'Wrong, Try again'

##### Question 6

In [7]:
num = 6
"""
What is the output?

x = 1
y = True
print(x is y)
"""

answer = None
check(num, answer, score)

'Wrong, Try again'

##### Question 7

In [8]:
num = 7
"""
What is the value of this list?

[x for x in range(5) if x % 2]

"""

answer = []
check(num, answer, score)

'Wrong, Try again'

##### Question 8

In [9]:
num = 8
"""
What is the value of this list?

[i if i % 2 == 0 else i * 2 for i in range(5)]
"""

answer = []
check(num, answer, score)

'Wrong, Try again'

##### Question 9

In [10]:
num = 9
"""
What is the value of the spliced list?

l = [1, 2, 3, 4, 5]
l[::-1]
"""

answer = []
check(num, answer, score)

'Wrong, Try again'

##### Question 10

In [11]:
num = 10
"""
What is the value of the list nums?

nums = []
for i in range(5):
    if i == 2:
        break
    nums.append(i)
"""

answer = []
check(num, answer, score)

'Wrong, Try again'

##### Question 11

In [12]:
num = 11
"""
What is printed?

def foo(a=[]):
    a.append(1)
    return a

print(foo(), end = " ")
print(foo())

A. [1] [1]
B. [1] [1, 1]
C. [1, 1] [1]
D. [] []
"""
answer = ""
check(num, answer, score)

'Wrong, Try again'

##### Question 12

In [13]:
num = 12
"""
What will be the output?

list_nums = [0, 9, 2, 1]
list_nums.remove(3)
print(list_nums)

A. [0, 9, 2]
B. [1]
C. [0]
D. Error
"""

answer = ""
check(num, answer, score)

'Wrong, Try again'

##### Question 13

In [14]:
num = 13
"""
What will be the output?

list_nums = [0, 9, 2, 1]
list_nums.insert(4, 2)
print(list_nums)

A. Error
B. [0, 4, 9, 2, 1]
C. [0, 2, 9, 2, 1]
D. [0, 9, 2, 1, 2]
"""

answer = ""
check(num, answer, score)

'Wrong, Try again'

##### Question 14

In [15]:
num = 14
"""
What is the output of this code block?

class maker:
    def __init__(self):
        self.me = "me"
        
        print(self.make())
    def make(self):
        return "WHAT"
    
    def make(self):
        return "Ha?"

a = maker()
"""

answer = ""
check(num, answer, score)

'Wrong, Try again'

##### Question 15

In [16]:
num = 15
"""
What is the value of the list?

listing = [1, 3, 4]

def what_if():
    listing.append(5)

what_if()
print(listing)
"""

answer = []
check(num, answer, score)

'Wrong, Try again'

##### Question 16

In [17]:
num = 16
"""
What is the output of this print statement?

print([1]*10)

A. [10]
B. [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
C. [[1], [1], [1], [1], [1], [1], [1], [1], [1], [1]]
D. Error
"""
answer = ""
check(num, answer, score)

'Wrong, Try again'

##### Question 17

In [18]:
num = 17
"""
Create a named "unique_sorted" that removes duplicates from the list and sort them in ascending order
"""

def unique_sorted(lst):
    
    return []

answer = unique_sorted
check(num, answer, score)

'Wrong, Try again'

##### Question 18

In [19]:
num = 18
"""
Create a 5x5 matrix using nested list comprehensions, where the numbers are from 0 to 24 in row major order but
replaces numbers divisble by 3 to "X"
"""
answer = []

check(num, answer, score)

'Wrong, Try again'

##### Question 19

In [20]:
num = 19
"""
Write a function categorize_number(n) that takes a number and returns a string label according to these rules:

1. If n is divisible by both 3 and 5, return "FizzBuzz".

2. If it's only divisible by 3, return "Fizz".

3. If it's only divisible by 5, return "Buzz".

4. If it's a prime number and not divisible by 3 or 5, return "Prime".

5. If it's a negative number, return "Negative".

6. Otherwise, return "Other".

Do no use if-else
"""
def is_prime(n):
    return n > 1 and all(n % i for i in range(2, int(n**0.5) + 1))

def categorize_number(n):
    return ""

answer = categorize_number
check(num, answer, score)

'Wrong, Try again'

##### Question 20

In [21]:
num = 20
"""
Write a function sliced_splice(lst) that takes a list of at least 10 integers and returns a new list made by:

1. Taking every 2nd element from the 2nd to 8th position (inclusive)

2. Reversing the last 4 elements

3. Taking the first 3 elements in reverse order

4. Concatenating all three slices in that order
"""

def sliced_splice(lst):
    return []

answer = sliced_splice
check(num, answer, score)

'Wrong, Try again'

In [22]:
# Check Score
check_score(score)

'You Total Score is 0'