# Introduction to Python Exercise

### Variable Naming Exercise

In [23]:
import numpy as np
import pandas as pd
from checker import checker_ans

score = {}

for i in range(1, 21):
    score[f"{i}"] = 0

def check_score(score):
    total_sum = 0
    for i in range(1, 21):
        total_sum = total_sum + score[f"{i}"]
    return f"You Total Score is {total_sum}"

##### Question 1

In [24]:
num = 1
"""
True or False: Is the variable '1st_name' valid in Python?
"""
answer = None

checker_ans(answer, num, score)

'Try again'

##### Question 2

In [25]:
num = 2
"""
Which of the following should NOT be used as a variable name in Python?

A. number_of_users
B. is_active
C. salary2024
D. def
"""
answer = ""

checker_ans(answer, num, score)

'Try again'

##### Question 3

In [26]:
num = 3
"""
What is the best way to name a variable that stores the number of students?

A. 1students
B. num_students
C. numStudents
D. students#count
"""

answer = ""

checker_ans(answer, num, score)

'Try again'

##### Question 4

In [27]:
num = 4
"""
What is the correct variable name for `1st_name`?

A. first_name
B. name_1st
C. oneName
D. 1st_name
"""

answer = ""

checker_ans(answer, num, score)

'Try again'

##### Question 5

In [28]:
num = 5
"""
Which of the following will cause an error?

A. is_valid = True
B. first_name = "Bob"
C. class = "Math"
D. age_30 = 30
"""

answer = ""

checker_ans(answer, num, score)

'Try again'

##### Question 6

In [29]:
num = 6
"""
Is the variable name `user_age` valid in Python?
"""

answer = None

checker_ans(answer, num, score)

'Try again'

##### Question 7

In [30]:
num = 7
"""
Which of the following variable names follows correct Python naming conventions?

A. fullName
B. full-name
C. FullName
D. full_name
"""

answer = ""

checker_ans(answer, num, score)

'Try again'

##### Question 8

In [31]:
num = 8
"""
Which of the following is a valid Python variable name?

A. def = "Alice"
B. user_name = "Alice"
C. 2name = "Alice"
D. user-name = "Alice"
"""

answer = ""

checker_ans(answer, num, score)

'Try again'

### Data Types Exercise

##### Question 9

In [32]:
num = 9
"""
What is the data type of the value 25?
"""

answer = None

checker_ans(f"{answer}", num, score)

'Try again'

##### Question 10

In [33]:
num = 10
"""
Give an example of a floating-point number?
"""

answer = None

checker_ans(f"{type(answer)}", num, score)

'Try again'

##### Question 11

In [34]:
num = 11
"""
What is the correct data type for storing a list of names?
"""

answer = None

checker_ans(f"{answer}", num, score)

'Try again'

##### Question 12

In [35]:
num = 12
"""
What will type("42") return in Python?
"""

answer = None

checker_ans(f"{answer}", num, score)

'Try again'

##### Question 13

In [36]:
num = 13
"""
Which of these is NOT a valid data type in Python?

A. float
B. array
C. dictionary
D. tuple

Answer in str
"""

answer = ""

checker_ans(f"{answer}", num, score)

'Try again'

##### Question 14

In [37]:
num = 14
"""
The data type of "3.14" in Python is
"""

answer = None

checker_ans(f"{answer}", num, score)

'Try again'

##### Question 15

In [38]:
num = 15
"""
What is the data type of [1, 2, 3] in Python
"""

answer = None

checker_ans(f"{answer}", num, score)

'Try again'

##### Question 16

In [39]:
num = 16
"""
A boolean value in Python can only be True or False.
"""

answer = None

checker_ans(answer, num, score)

'Try again'

##### Question 17

In [40]:
num = 17

"""
Write a Python statement that assigns the value 42 to a valid variable name.
"""

def answer():
    "Answer here"
    
    # Define variable

    # Return variable

checker_ans(answer, num, score)

❌ Incorrect

##### Question 18

In [41]:
num = 18

"""
Write a class named Human. The class should contain a method greet() that return Hello
"""

def answer():
    "Answer here"
    
    # Define class

    # Return class


checker_ans(answer, num, score)

❌ The class must have a method named 'greet'.

##### Question 19

In [42]:
num = 19

"""
Write a Python function that returns the string "Whatt"
"""

def answer():
    "Answer here"
    
    # Define function

    # Return function


checker_ans(answer, num, score)

❌ You must define a function.

##### Question 20

In [43]:
num = 20

"""
Write a list containing list of sorted numbers from 1-10
"""

def answer():
    "Answer here"
    
    # Define list

    # Return function


checker_ans(answer, num, score)

❌ Your answer must be a list.

### Check Score

In [22]:
print(check_score(score))

20