In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append('./.Scripts') 

from checker_3 import check

score = {}

for i in range(1, 21):
    score[f"{i}"] = 0

def check_score(score):
    total_sum = 0
    for i in range(1, 21):
        total_sum = total_sum + score[f"{i}"]
    return f"You Total Score is {total_sum}"

### **Question 1**

In [2]:
num = 1
"""
True or False: A NumPy array can contain elements of different data types?
"""
answer = None

check(num, answer, score)

'Answer must be a boolean'

### **Question 2**

In [3]:
num = 2
"""
True or False: NumPy is faster than Python lists for numerical operations.
"""
answer = None

check(num, answer, score)

'Answer must be a boolean'

### **Question 3**

In [4]:
num = 3
"""
True or False: np.arange can produce floating point values..
"""
answer = None

check(num, answer, score)

'Answer must be a boolean'

### **Question 4**

In [5]:
num = 4

"""
Create a 5x5 array of random values from 0-20, with step size of 5.

Used random seed = 5
"""

answer = None

check(num, answer, score)

'Answer must be a NumPy array'

### **Question 5**

In [6]:
num = 5

"""
What will be the output of the code below:

        a = np.array([10, 20, 30, 40])
        b = a[[1, 3]]
        print(b)
"""

answer = []

check(num, answer, score)

'Wrong, Try again'

### **Question 6**

In [7]:
num = 6
"""
What does np.linspace(0,1,5) return?

A. [0, 0.2, 0.4, 0.6, 0.8]
B. [0, 0.25, 0.5, 0.75, 1]
C. [0, 0.5, 1]
D. [0, 1, 2, 3, 4, 5]

"""
answer = ""

check(num, answer, score)

'Wrong, Try again'

### **Question 7**

In [8]:
num = 7
"""
What does np.arange(3,10,2) return?

A. [3, 5, 7, 9]
B. [3, 4, 5, 6, 7, 8, ,9]
C. [3, 6, 9]
D. [2, 4, 6, 8]

"""
answer = ""

check(num, answer, score)

'Wrong, Try again'

### **Question 8**

In [9]:
num = 8
"""
What does np.array([1,2,3]) do?

A. Creates a list
B. Creates a 1D array
C. Creates a 2D array
D. Creates a matrix

"""
answer = ""

check(num, answer, score)

'Wrong, Try again'

### **Question 9**

In [10]:
num = 9
"""
What function creates an array of evenly spaced values between 0 and 1 (inclusive)?

A. np.arange(0, 1, 0.1)
B. np.linspace(0, 1, 10)
C. np.zeros(10)
D. np.arange(0, 1, 1)

"""
answer = ""

check(num, answer, score)

'Wrong, Try again'

### **Question 10**

In [11]:
num = 10
"""
What does np.ones((2,3)) return?

A. An array of 2 elements, with all values are equal to 3
B. A 2x3 array filled with ones
C. A 3x2 array filled with ones
D. An identity matrix

"""
answer = ""

check(num, answer, score)

'Wrong, Try again'

### **Question 11**

In [12]:
num = 11
"""
What is the result of np.sin(np.pi / 2)?

A. 0
B. 1
C. -1
D. pi/2
"""
answer = ""

check(num, answer, score)

'Wrong, Try again'

### **Question 12**

In [13]:
num = 12
"""
What does array[1:4] return?

A. Elements from index 1 to 3
B. Elements from index 1 to 4
C. Element at index 1
D. Elements from 0 to 4

"""
answer = ""

check(num, answer, score)

'Wrong, Try again'

### **Question 13**

In [14]:
num = 13
"""
np.mean computes the mean of the values. What does np.mean(np.array([1,2,3,4])) return?

A. 2
B. 2.5
C. 3
D. 10

"""
answer = ""

check(num, answer, score)

'Wrong, Try again'

### **Question 14**

In [15]:
num = 14
"""
Compute the sine of 0, pi/2, and pi.

"""

def answer():
    "Answer here. return sine values"

check(num, answer, score)

'Wrong, Try again'

### **Question 15**

In [16]:
num = 15
"""
Compute the exponential of values of the integers from -5 to 5

"""

import numpy as np

def answer():
    "Answer here. return exp values"

check(num, answer, score)

'Wrong, Try again'

### **Question 16**

In [17]:
num = 16
"""
Make a function that check if theta is greater than pi. (return True of greater than and
False otherwise)

"""

import numpy as np

def answer(theta):
    "Answer here"

check(num, answer, score)

'Wrong, Try again'

### **Question 17**

In [18]:
num = 17
"""
Yes or No. Will this code work? Note: np.dot is a dot product.

import numpy as np

a = np.array([1, 2])
b = np.array([[1, 2], [3, 4]])
result = np.dot(a, b)
print(result)

"""

answer = ""

check(num, answer, score)

'Wrong, Try again'

### **Question 18**

In [19]:
num = 18
"""
Find all indices of value 5. Use numPy functions

"""
arr = np.array([1, 5, 3, 5, 2])

answer = None

check(num, answer, score)

'Answer must be a NumPy Array'

### **Question 19**

In [20]:
num = 19
"""
Fill diagonal with 9s using a NumPy Function

"""

answer = None
# Fill (NumPy Function)


check(num, answer, score)

'Answer must be a NumPy Array'

### **Question 20**

In [21]:
num = 20
"""
Make a function that adds two NumPy arrays. Add checks when it is not valid to add functions. return 
the new array if valid and a message "Invalid" if not valid. 

"""

def answer(a, b):
    "Answer here"


check(num, answer, score)

'Wrong, Try again'

### **Check Score**

In [22]:
print(check_score(score))

You Total Score is 0