# Introduction to Python Exercise

### Variable Naming Exercise

In [23]:
import numpy as np
import pandas as pd
from checker import checker_ans

score = {}

for i in range(1, 21):
    score[f"{i}"] = 0

def check_score(score):
    total_sum = 0
    for i in range(1, 21):
        total_sum = total_sum + score[f"{i}"]
    return f"You Total Score is {total_sum}"

##### Question 1

In [2]:
num = 1
"""
True or False: Is the variable '1st_name' valid in Python?
"""
answer = True

checker_ans(answer, num, score)

'Correct! Proceed to the next question'

##### Question 2

In [3]:
num = 2
"""
Which of the following should NOT be used as a variable name in Python?

A. number_of_users
B. is_active
C. salary2024
D. def
"""
answer = "D"

checker_ans(answer, num, score)

'Correct! Proceed to the next question'

##### Question 3

In [4]:
num = 3
"""
What is the best way to name a variable that stores the number of students?

A. 1students
B. num_students
C. numStudents
D. students#count
"""

answer = "B"

checker_ans(answer, num, score)

'Correct! Proceed to the next question'

##### Question 4

In [5]:
num = 4
"""
What is the correct variable name for `1st_name`?

A. first_name
B. name_1st
C. oneName
D. 1st_name
"""

answer = "A"

checker_ans(answer, num, score)

'Correct! Proceed to the next question'

##### Question 5

In [6]:
num = 5
"""
Which of the following will cause an error?

A. is_valid = True
B. first_name = "Bob"
C. class = "Math"
D. age_30 = 30
"""

answer = "C"

checker_ans(answer, num, score)

'Correct! Proceed to the next question'

##### Question 6

In [7]:
num = 6
"""
Is the variable name `user_age` valid in Python?
"""

answer = True

checker_ans(answer, num, score)

'Correct! Proceed to the next question'

##### Question 7

In [8]:
num = 7
"""
Which of the following variable names follows correct Python naming conventions?

A. fullName
B. full-name
C. FullName
D. full_name
"""

answer = "D"

checker_ans(answer, num, score)

'Correct! Proceed to the next question'

##### Question 8

In [9]:
num = 8
"""
Which of the following is a valid Python variable name?

A. def = "Alice"
B. user_name = "Alice"
C. 2name = "Alice"
D. user-name = "Alice"
"""

answer = "B"

checker_ans(answer, num, score)

'Correct! Proceed to the next question'

### Data Types Exercise

##### Question 9

In [10]:
num = 9
"""
What is the data type of the value 25?
"""

answer = int

checker_ans(f"{answer}", num, score)

'Correct! Proceed to the next question'

##### Question 10

In [11]:
num = 10
"""
Give an example of a floating-point number?
"""

answer = 1.1

checker_ans(f"{type(answer)}", num, score)

'Correct! Proceed to the next question'

##### Question 11

In [12]:
num = 11
"""
What is the correct data type for storing a list of names?
"""

answer = list

checker_ans(f"{answer}", num, score)

'Correct! Proceed to the next question'

##### Question 12

In [13]:
num = 12
"""
What will type("42") return in Python?
"""

answer = str

checker_ans(f"{answer}", num, score)

'Correct! Proceed to the next question'

##### Question 13

In [14]:
num = 13
"""
Which of these is NOT a valid data type in Python?

A. float
B. array
C. dictionary
D. tuple

Answer in str
"""

answer = "B"

checker_ans(f"{answer}", num, score)

'Correct! Proceed to the next question'

##### Question 14

In [15]:
num = 14
"""
The data type of "3.14" in Python is
"""

answer = str

checker_ans(f"{answer}", num, score)

'Correct! Proceed to the next question'

##### Question 15

In [16]:
num = 15
"""
What is the data type of [1, 2, 3] in Python
"""

answer = list

checker_ans(f"{answer}", num, score)

'Correct! Proceed to the next question'

##### Question 16

In [17]:
num = 16
"""
A boolean value in Python can only be True or False.
"""

answer = False

checker_ans(answer, num, score)

'Correct! Proceed to the next question'

##### Question 17

In [18]:
num = 17

"""
Write a Python statement that assigns the value 42 to a valid variable name.
"""

def answer():
    "Answer here"
    
    # Define variable
    asdas = 42
    # Return variable
    return asdas

checker_ans(answer, num, score)

✔️ Well done!

##### Question 18

In [19]:
num = 18

"""
Write a class named Human. The class should contain a method greet() that return Hello
"""

def answer():
    "Answer here"
    
    # Define class
    class Human:
        def greet(self):
            return "Hello"
    # Return class
    return Human

checker_ans(answer, num, score)

✔️ Well done!

##### Question 19

In [20]:
num = 19

"""
Write a Python function that returns the string "Whatt"
"""

def answer():
    "Answer here"
    
    # Define function
    def whatt():
        return "Whatt"
    # Return function
    return whatt

checker_ans(answer, num, score)

✔️ Well done!

##### Question 20

In [21]:
num = 20

"""
Write a list containing list of sorted numbers from 1-10
"""

def answer():
    "Answer here"
    
    # Define list
    llist = [[i for i in range(1, 11)]]
    # Return function
    return llist

checker_ans(answer, num, score)

✔️ Well done!

### Check Score

In [22]:
print(check_score(score))

20